body {
    background-color: white;
}

.test {
    border: 1px dotted black;
}


/* BEM */
.container {
    font-size: 2em;
}

.element {
    font-size: 2em;
}
.element--modifier {
    font-size: 2em;
}
