body {
    background-color: blueviolet;
}

.test {
    border: 1px dotted black;
}


/* BEM */
.block {
    font-size: 2em;
}
.block__element {
    font-size: 2em;
}
.block__element--modifier {
    font-size: 2em;
}
