:global(body) {
    background-color: #DDD;
}

.test {
    border: 5px dotted rgb(231, 11, 11);
}

.map {
    width: 80vw;
    height: 10vw;
}


/* BEM */
.container {
    font-size: 2em;
}

.element {
    font-size: 2em;
}
.element--modifier {
    font-size: 2em;
}
