:global(body) {
    background-color: #DDD;
}

.test {
    border: 1px dotted black;
}

.map {
    width: 100vw;
    height: 60vw;
}


/* BEM */
.container {
    font-size: 2em;
}

.element {
    font-size: 2em;
}
.element--modifier {
    font-size: 2em;
}
